.menu-header {
    display: flex;
}

.menu-logo {
    width: 30%;
}

.menu-logo {
    margin-left: 10%;
}

.menu-options {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: space-between;
}

.option {
    margin-top: 2.5%;
}

.option span {
    color: white;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.banner {
    position: relative;
    z-index: 1;
}

.container-banner {
    width: 35%;
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 25%;

}

.title-banner hr {
    width: 50%;
    margin-left: 0;
    height: 0.2rem;
    background-color: white;
}

.title-banner span {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.content-banner {
    padding-top: 1rem;
}

.content-banner span {
    color: white;
    font-size: 1.2rem;
}

.button-banner {
    margin-top: 2rem;
}

.button-banner button {
    border: solid 2px;
    border-color: rgb(39, 108, 238);
    background-color: rgb(39, 108, 238);
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem;
    font-family: sans-serif;
    cursor: pointer;
    width: 40%;
}

.button-banner button:hover {
    border-color: rgb(39, 108, 238);
    background-color: rgba(39, 109, 238, 0.445);
}

.target-container {
    position: relative;
    z-index: 1;
}

.target {
    margin-top: 5%;
    border: solid 2px;
    border-color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.849);
    text-align: center;
    width: 90%;
    height: 100%;
}

.prueba {
    z-index: 2;
    display: flex;
    position: absolute;
    justify-content: space-between;
    justify-content: center;
    top: 10vh;
}

.target-image {
    margin-top: 10%;
    width: 20rem;
    height: 14rem;
    margin-left: auto;
    margin-right: auto;
}

.target-image img {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.target-title {
    margin-bottom: 10%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.target-title span {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.target-content {
    margin-bottom: 15%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.target-content span {
    font-size: 1.1rem;
    color: white;
}

.target-button {
    margin-top: 5%;
}

.target-button button {
    border: solid 2px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    border-radius: 5rem;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding: 0.3rem;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 1.5rem;
    width: 12%;
}

.faqs {
    margin: 3%;
}

.faq-container {
    background-color: rgba(0, 0, 0, 0.116);
    border: solid 1px;
    border-color: white;
    border-radius: 10px;
    padding: 0.8rem;
    margin-top: 3%;
}

.faq-desplegable {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-title {
    align-items: center;

}

.faq-title span {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7rem;
    color: white;
    justify-content: center;
}

.icon-svg {
    
}

.icon-svg svg {
    width: 2rem;
    height: 2rem;
    justify-content: center;
    color: white;    
}

.faq-content {
    margin-top: 1.5rem;
    display: none;
}

.faq-content span {
    color: white;
    font-size: 1.2rem;
}
